{% extends "algorithms/base.html" %}



        {% block result %}
        
        <div class="container intro-data" data-aos="fade-up">
        <p>
            <br>
            In an operating system that uses paging for memory management, a page replacement algorithm is needed to decide which page needs to be replaced when new page comes in. 
            <br>
            <br>
            <b>First In First Out (FIFO)</b>
            <br>
            
            In FIFO algorithm, the operating system keeps track of all pages in the memory in a queue, the oldest page is in the front of the queue. When a page needs to be replaced, the front of the queue is selected for removal.
            <br>
            <hr>
            <b>Least Recently Used (LRU)</b>
            <br>
            
            At the point when a page must be replaced with LRU page replacement picks the page that has not been utilized for the longest time frame.
            <br>
            <hr>
            <b>Optimal Page Replacement (OPT)</b>
            <br>
            
            In this algorithm, we are looking into the future or "predicting." If a page fault occurs, we simply look at the sequence of page references to see which page in the frame will not be used for the longest time.
            <br>
            <hr>
        </p>
    </div>

        {% endblock %}